 
Body {
    color:black ;
    background-color: #F5F5F5;
    font-family: Verdana;
    margin: 40px 20px;
    font-variant: small-caps;
}

header {
    
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 32px;
    color: #F5F5F5;
    text-shadow: 2px 2px #6e6e6e;
}

header h2 {
    margin-top: 50px;
    font-size: 24px;
    color: #F5F5F5;
}

body {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    color: black;
}

form {
    margin-top: 50px;
}

nav a {
    background: #f5f5f562;
    font-family: verdana;
    color: black;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #8ACDFA;
    border-radius: 10px;
}
nav a:hover {
    color: #8ACDFA;
    background-color: #F5F5F5;
}
#valittu {
    color: #8ACDFA;
    background-color:#f5f5f5;
}

#etusivu {
    background-image: url(/Kuvia/kuplia.jpg);
    border-radius: 20px;
    background-size: cover;
    height: 300px;
    
}

